*{
    margin: 0;
    padding: 0;
    background-color: rgb(53, 53, 56);
    color: aqua;
}
.first{
    height: 50vh;
    width: 50vh;
    background-color: black;
    color: aliceblue;
}
.second{
    background-color: aqua;
    color: rgb(116, 116, 46);
}